<!DOCTYPE html>
<html>
<head>
  <title>Blog engine</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <h1>Your engine is up and running </h1>
    <p>This is a sample view of Blog Engine.</p>
  <%= stylesheet_link_tag    "blog_engine/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
